@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Medium.eot');
    src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
        url('SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('SFProDisplay-Medium.woff2') format('woff2'),
        url('SFProDisplay-Medium.woff') format('woff'),
        url('SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Heavy.eot');
    src: local('SF Pro Display Heavy'), local('SFProDisplay-Heavy'),
        url('SFProDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
        url('SFProDisplay-Heavy.woff2') format('woff2'),
        url('SFProDisplay-Heavy.woff') format('woff'),
        url('SFProDisplay-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-UltralightItalic.eot');
    src: local('SF Pro Display UltralightItalic'), local('SFProDisplay-UltralightItalic'),
        url('SFProDisplay-UltralightItalic.eot?#iefix') format('embedded-opentype'),
        url('SFProDisplay-UltralightItalic.woff2') format('woff2'),
        url('SFProDisplay-UltralightItalic.woff') format('woff'),
        url('SFProDisplay-UltralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-RegularItalic.eot');
    src: local('SF Pro Display Regular Italic'), local('SFProDisplay-RegularItalic'),
        url('SFProDisplay-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('SFProDisplay-RegularItalic.woff2') format('woff2'),
        url('SFProDisplay-RegularItalic.woff') format('woff'),
        url('SFProDisplay-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Thin.eot');
    src: local('SF Pro Display Thin'), local('SFProDisplay-Thin'),
        url('SFProDisplay-Thin.eot?#iefix') format('embedded-opentype'),
        url('SFProDisplay-Thin.woff2') format('woff2'),
        url('SFProDisplay-Thin.woff') format('woff'),
        url('SFProDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Light.eot');
    src: local('SF Pro Display Light'), local('SFProDisplay-Light'),
        url('SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('SFProDisplay-Light.woff2') format('woff2'),
        url('SFProDisplay-Light.woff') format('woff'),
        url('SFProDisplay-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-BlackItalic.eot');
    src: local('SF Pro Display Black Italic'), local('SFProDisplay-BlackItalic'),
        url('SFProDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('SFProDisplay-BlackItalic.woff2') format('woff2'),
        url('SFProDisplay-BlackItalic.woff') format('woff'),
        url('SFProDisplay-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Bold.eot');
    src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
        url('SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('SFProDisplay-Bold.woff2') format('woff2'),
        url('SFProDisplay-Bold.woff') format('woff'),
        url('SFProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Black.eot');
    src: local('SF Pro Display Black'), local('SFProDisplay-Black'),
        url('SFProDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('SFProDisplay-Black.woff2') format('woff2'),
        url('SFProDisplay-Black.woff') format('woff'),
        url('SFProDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-SemiboldItalic.eot');
    src: local('SF Pro Display SemiboldItalic'), local('SFProDisplay-SemiboldItalic'),
        url('SFProDisplay-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('SFProDisplay-SemiboldItalic.woff2') format('woff2'),
        url('SFProDisplay-SemiboldItalic.woff') format('woff'),
        url('SFProDisplay-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Ultralight.eot');
    src: local('SF Pro Display Ultralight'), local('SFProDisplay-Ultralight'),
        url('SFProDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('SFProDisplay-Ultralight.woff2') format('woff2'),
        url('SFProDisplay-Ultralight.woff') format('woff'),
        url('SFProDisplay-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-LightItalic.eot');
    src: local('SF Pro Display LightItalic'), local('SFProDisplay-LightItalic'),
        url('SFProDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('SFProDisplay-LightItalic.woff2') format('woff2'),
        url('SFProDisplay-LightItalic.woff') format('woff'),
        url('SFProDisplay-LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-ThinItalic.eot');
    src: local('SF Pro Display ThinItalic'), local('SFProDisplay-ThinItalic'),
        url('SFProDisplay-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('SFProDisplay-ThinItalic.woff2') format('woff2'),
        url('SFProDisplay-ThinItalic.woff') format('woff'),
        url('SFProDisplay-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-MediumItalic.eot');
    src: local('SF Pro Display MediumItalic'), local('SFProDisplay-MediumItalic'),
        url('SFProDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('SFProDisplay-MediumItalic.woff2') format('woff2'),
        url('SFProDisplay-MediumItalic.woff') format('woff'),
        url('SFProDisplay-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Semibold.eot');
    src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
        url('SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
        url('SFProDisplay-Semibold.woff2') format('woff2'),
        url('SFProDisplay-Semibold.woff') format('woff'),
        url('SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-HeavyItalic.eot');
    src: local('SF Pro Display HeavyItalic'), local('SFProDisplay-HeavyItalic'),
        url('SFProDisplay-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('SFProDisplay-HeavyItalic.woff2') format('woff2'),
        url('SFProDisplay-HeavyItalic.woff') format('woff'),
        url('SFProDisplay-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Regular.eot');
    src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
        url('SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('SFProDisplay-Regular.woff2') format('woff2'),
        url('SFProDisplay-Regular.woff') format('woff'),
        url('SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-BoldItalic.eot');
    src: local('SF Pro Display BoldItalic'), local('SFProDisplay-BoldItalic'),
        url('SFProDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('SFProDisplay-BoldItalic.woff2') format('woff2'),
        url('SFProDisplay-BoldItalic.woff') format('woff'),
        url('SFProDisplay-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
    width: 1440px;
    margin: 0 auto;
}
body{
    font-family: 'SF Pro Display', sans-serif;
    background: linear-gradient(180deg, #1d1d24 -60.19%, rgba(65, 66, 99, 0.09) 100%), url(../img/background/joseph-pearson-jxgJUpL-SQg-unsplash-min.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
   
.header{
    padding-top:40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 29px;
    border-bottom: solid 1px #E7E7F2;
}
.header h1{
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0.01em;
}
.nav-menu-list{
    margin: 0 -30px;
    list-style: none;
    display: flex;
}
.nav-menu-list__item{
    margin: 0 30px;
}
.nav-menu-list__item a{
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}
.sign-list{
    margin: 0 -30px;
    list-style: none;
    display: flex;
}
.sign-list__item{
    margin: 0 30px;
}
.sign-list__item a{  
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}
.sign-list__item > svg{
    margin-left: 52px;
}

.main{
    margin-top: 213px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-left{
    width: 860px;
}
.main-left h1{
    font-size: 96px;
    color: #FFFFFF;
    letter-spacing: 0.01em;
    font-weight: bold;
    line-height: 110%;
    margin-bottom: 16px;
}
.main-left p{
margin-top: 16px;
color: #FFFFFF;
opacity: 0.8;
font-size: 28px;
line-height: 150%;
}
.main-right{
display: flex;
width: 570px;
height: 400px;
}
.right-main__first{
background: rgba(255, 255, 255, 0.15);
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
width: 300px;
}
.right-main__first span{
    color: #FFFFFF;
    opacity: 0.5;
    font-size: 20px;
    line-height: 20px;
}
.right-main__first h3{
    color: #FFFFFF;
    font-size: 36px;
    line-height: 135%;
    width: 204px;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 165px;
    height: 201px;
    background-color: #4E5757;
    border-radius: 20px 20px 0px 0px;
}
.footer-form__label:first-child{
    padding-right: 50px;
    padding-left:10px ;
}
.footer-form__label:last-child{
    border: none;
}
.footer-form__label:first-child::after{
    position: absolute;
    top: 7px;
    right: 20px;
    content: url(../img/footer-vector/Vector.svg);
}
.footer-form__label:first-child::before{
    content: url(../img/footer-vector/Vector\ \(1\).svg);
    position: absolute;
    bottom: 8px;
    left: -22px;
}
.footer-form label:last-child::after{
    position: absolute;
    top: 7px;
    right: 0px;
    content: url(../img/footer-vector/Vector.svg);
}
.footer-form__label:last-child::before{
    content: url(../img/footer-vector/Vector\ \(2\).svg);
    position: absolute;
    bottom: 8px;
    left: -35px;
}
.footer-form__label:nth-child(2)::before{
    content: url(../img/footer-vector/Vector\ \(3\).svg);
    position: absolute;
    bottom: 8px;
    left: -40px;
}

.footer h3{
    margin-left: 36px;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.div-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-form{
    justify-content: space-around;
    border: 1px solid #E7E7F2;
    border-radius: 10px;
    display: flex;
    
    align-items: center;
    width: 1074px;
    height: 72px;
}
.footer-form__label{
    position: relative;
    border-right: 1px solid #E7E7F2;
}
.footer-form div{
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 15px;
    color: #E7E7F2;
    opacity: 0.6;
    width: 111px;
}
.footer-form__label input{
    background-color: transparent;
    border-color: transparent;
}
.long-input{
    width: 311px;
}
.footer-form__label input::placeholder{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}
.but-search{
    background-color: #91CB82;
    color: white;
    border-radius: 10px;
    width: 240px;
    height: 72px;
    font-size: 18px;
    line-height: 20px;
    align-items: center;
    font-weight: bold;
}
































